* {
    background-image: none;
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 14px;
}

window {
    background-color: rgba(17, 28, 24, 0.9);
}

button {
    color: #e6d8ba;
    background-color: #23372B;
    border: 2px solid #53685B;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 8px;
    margin: 5px;
}

button:focus, button:active, button:hover {
    background-color: #53685B;
    border-color: #71CEAD;
    color: #71CEAD;
    outline: none;
}

#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}
